<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>商城后台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="__COMMON_JS__/plug-in/layui/1.0.9/css/layui.css?v={$V}" media="all"/>
  <link rel="stylesheet" href="__ADMIN__/icon/xxicon/style.css?v={$V}">
  <link rel="stylesheet" href="__COMMON_ICON__/font-awesome/css/font-awesome.min.css?v={$V}"/>
  <link rel="shortcut icon" href="__ROOT__/Public/media/images/xunxinLogo.ico" type="/favicon.ico"/>
  <link rel="stylesheet" href="__ADMIN_CSS__/common/layout.css?v={$V}" media="all"/>
  <link rel="stylesheet" href="__ADMIN_CSS__/common/admin.css?v={$V}" media="all"/>

  <script>
    base_url = "__ADMIN__/";
    layout_url = '__ADMIN_JS__/common/';
    version = '{$V}'
  </script>
  <script src="__COMMON_JS__/plug-in/layui/1.0.9/layui.js?v={$V}"></script>
  <script src="__ADMIN_JS__/common/layout.js?v={$V}"></script>
  <script type="text/javascript" src="__ADMIN_JS__/common/adminObj.js?v={$V}"></script>

</head>
<style>
</style>
<body>
<div class="layui-layout layui-layout-admin beg-layout-container">
  <div class="layui-header beg-layout-header">
    <div class="beg-layout-main beg-layout-logo">
      <font class="logo-img"></font>
      <div class="logo-info">
        <h2 class="line-one">商城后台</h2>
        <div class="login-user">
          <ul class="layui-nav" lay-filter="user">
            <li class="layui-nav-item">
              <a href="javascript:;">admin888</a>
              <dl class="layui-nav-child">
                <!--region 首页套餐信息显示-->
                <dd class="dd-package">
                  <div>
                    <div class="admin-info flex-between">
                      <span>admin888</span>
                      <a class="package-href flex-row" href="javascript:;" onclick="renewalPackage()">
                        <cite>立即续费</cite>
                      </a>
                    </div>
                    <div style="line-height: 3px;">
                      <progress value="6" max="10" class="package-progress"></progress>
                    </div>
                    <div class="package-desc">
                      <p>您的管理系统有效期至</p>
                      <p>2028-12-23</p>
                      <p>官方咨询电话：400-991-5998</p>
                    </div>
                  </div>
                </dd>
                <!--endregion-->
                <dd>
                  <a href="javascript:;" onclick="editPwdLayer()">
                    <i class="xxicon-password" aria-hidden="true"></i>
                    <cite>修改密码</cite>
                  </a>
                </dd>
                <dd>
                  <a href="{:U('auth/logout')}">
                    <i class="xxicon-sign-out" aria-hidden="true"></i>
                    <cite>退出登录</cite>
                  </a>
                </dd>
                <dd>
                  <a class="update_cache" href="javascript:void(0);">
                    <i class="xxicon-clear-cache"></i>
                    <cite>清除缓存</cite>
                  </a>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="beg-layout-main beg-layout-side-toggle">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <!--一级菜单，该项目未用到。园区super有用到[不能删除该代码，用于触发点击显示二级菜单]-->
    <div class="beg-layout-main beg-layout-menu" id="menu" style="display: none">
      <ul class="layui-nav beg-layout-nav" lay-filter="">
        <foreach name='menu' key='k' item='v'>
          <li class="layui-nav-item <empty name='k'>layui-this</empty>">
            <a href="javascript:;" data-key="{$k}" data-module-id="{$v.id}"
               data-url="{:U('Index/getMenu?pid='.$v['id'])}">
              <i class="fa {$v.icon}" aria-hidden="true"></i>
              <cite>{$v.name}</cite>
            </a>
          </li>
        </foreach>
      </ul>
    </div>
    <!--右上角刷新子iframe按钮-->
    <span class="title-refresh" onclick="reloadIframe()"><i class="xxicon-clear-cache"></i></span>
    <!--右上角消息-->
    <include file="Public/admin_msg/msg_html"/>
  </div>
  <!--侧边导航栏-->
  <div class="layui-side beg-layout-side" id="side" lay-filter="side"></div>
  <!--内容区域-->
  <div class="layui-body beg-layout-body" style="min-width: 1000px;">
    <div class="layui-tab layui-tab-brief layout-nav-card" lay-filter="layout-tab"
         style="border: 0; margin: 0;box-shadow: none; height: 100%;">
      <ul class="layui-tab-title" style="padding-left: 0;" id="layui-tab-list">
        <!--region 注释后，顶部tab关闭全部，仍会保留默认显示的iframe-->
        <li lay-id="{:U('Index/main')}" class="layui-this">
          <a href="javascript:;">
            <cite>main</cite>
            <font>商城概况</font>
            <i data-id="0"></i>
          </a>
        </li>
        <!--endregion-->
      </ul>
      <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
        <!--region 注释后，顶部tab关闭全部，仍会保留默认显示的iframe-->
        <div class="layui-tab-item layui-show">
          <iframe src="{:U('Index/main')}" id="iframe_0" data-id="0"></iframe>
        </div>
        <!--endregion-->
      </div>
    </div>
  </div>
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>

</div>
<script type="text/javascript">
  //刷新当前的iframe
  function reloadIframe(){
    var layId = $('#layui-tab-list').find('.layui-this').attr('lay-id');
    var dataId = $('#layui-tab-list').find('.layui-this').find('i').attr('data-id');
    var menu_type = $('#layui-tab-list').find('.layui-this').find('cite').text();
    var vm = adminObj.getIframeWindowVue(menu_type);
    //reloadIframeType：1-调用页面初始化函数init()进行刷新页面，其他-刷新当前的iframe
    if (vm && typeof vm._data.reloadIframeType !== "undefined" && +vm._data.reloadIframeType === 2) {
      vm.init();
    } else {
      document.getElementById("iframe_"+dataId).src = layId
    }
  }

  // 续费
  function renewalPackage () {
    adminObj.layerDialog({
      type: 2,
      area: ['700px', '400px'],
      title: '商城续费(到期时间：2028-23-12)',
      content: adminObj.getAdminUrl('Index', 'index_xf')
    })
  }
  // 修改密码弹框
  function editPwdLayer () {
    adminObj.layerDialog({
      type: 2,
      area: ['700px', '300px'],
      title: '修改密码',
      content: adminObj.getAdminUrl('Index', 'editPassword')
    })
  }

  layui.use(['layer', 'element', 'jquery', 'form'], function () {
    var layer = layui.layer
      , element = layui.element()
      , jq = layui.jquery,
      form = layui.form();

    jq('.update_cache').click(function () {
      loading = layer.load(2, {
        shade: [0.2, '#000']
      });
      jq.getJSON("/clearRedis.php", function (data) {
        if (data.code === 200) {
          layer.close(loading);
          layer.msg(data.msg, {icon: 1, time: 1000}, function () {
            location.reload();
          });
        } else {
          layer.close(loading);
          layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
        }
      });
    });


  });
</script>
<include file="Public/admin_msg/msg_monitor"/>
</body>

</html>
