#参考案例：园区、团购、生产系统、智慧工地、联发预缴费

/*
Runtime/
.idea/
.svn/
App/Html
uploads/

!.gitignore
!/360safe
!/App
!/avatar
!/Data
!/Include
!/Public
!/Tpl

# 入口文件
!/admin.php
!/app.php
!/clearRedis.php
!/debug.php
!/index.php
!/load.php
!/page.config.php
!/parking_recharge_notify.php
!/power_recharge_notify.php
!/power_recharge_bank_notify.php
!/union_power_recharge_bank_notify.php
!/rss.xml
!/sitemap.xml
!/sitemap_baidu.xml
!/super.php
!/sync.php
!/test.php
!/GLOBAL
/GLOBAL/*
!/GLOBAL/function.php
!/GLOBAL/install.php
!/GLOBAL/README.txt
!/GLOBAL/updating.api.php
!/GLOBAL/updating.php
!/GLOBAL/global.example.php
!/uploads
/uploads/*
!/uploads/.gitkeep

!/Include/Library/Vendor/wxpaylib/
/Include/Library/Vendor/wxpaylib/*
!/Include/Library/Vendor/wxpaylib/*.php
