<!--
  @author   liangxiaoqiong
  @version  1.0
  @date 2021/3/1
  -->
<!-- template 地址级联选择器-->
<script type="x-template" id="region_cascader_info">
  <!--region 模版-->
  <el-cascader
    :key="cascaderKey"
    v-bind="$attrs"
    ref="cascaderHandle"
    v-model="regionValue"
    separator=""
    :options="regionList"
    :props="cascaderProps"></el-cascader>
  <!--endregion-->
</script>

<!-- JS -->
<script>
  AppUtil.COMPONENTS.REGION_CASCADER_INFO = {
    template: '#region_cascader_info',
    props: {
      placeholder: String,
      info: Object,
      param: {
        type: Object,
        default: function () {
          return {
            country_id: 'country_id',
            country: 'country',
            province_id: 'province_id',
            province: 'province',
            city_id: 'city_id',
            city: 'city',
            area_id: 'area_id',
            area: 'area',
          }
        }
      }, // info变量名称
      // 可通过 props.checkStrictly = true 来设置父子节点取消选中关联，从而达到选择任意一级选项的目的。
      cascaderProps: {
        type: Object,
        default: function () {
          return {
            checkStrictly: false,
          }
        }
      },
      region: {
        type: Object,
        default: function () {
          return {
            countryList: [],
            provinceList: [],
            cityList: [],
            areaList: [],
          }
        }
      } //父组件传递的地址区域信息
    },
    data: function () {
      return {
        cascaderKey: 1,
        regionList: []
      }
    },
    computed: {
      regionValue: {
        set: function (value) {
          var self = this;
          if (value.length === 0) {
            self.info[self.param.country_id] = '';
            self.info[self.param.country] = '';
            self.info[self.param.province_id] = '';
            self.info[self.param.province] = '';
            self.info[self.param.city_id] = '';
            self.info[self.param.city] = '';
            self.info[self.param.area_id] = '';
            self.info[self.param.area] = '';
          } else {
            self.info[self.param.country_id] = value[0];
            self.info[self.param.country] = self.getRegionName(0, 'country', self.param.country);
            self.info[self.param.province_id] = value[1];
            self.info[self.param.province] = self.getRegionName(1, 'province', self.param.province);
            self.info[self.param.city_id] = value[2];
            self.info[self.param.city] = self.getRegionName(2, 'city', self.param.city);
            self.info[self.param.area_id] = value[3];
            self.info[self.param.area] = self.getRegionName(3, 'area', self.param.area);
          }
        },
        get: function () {
          var self = this;
          var region_value = []
          if (this.info[self.param.country_id] != null) {
            region_value.push(this.info[self.param.country_id] + '');
          }
          if (this.info[self.param.province_id] != null && +this.info[self.param.province_id] !== 0) {
            region_value.push(this.info[self.param.province_id] + '');
          }
          if (this.info[self.param.city_id] != null && +this.info[self.param.city_id] !== 0) {
            region_value.push(this.info[self.param.city_id] + '');
          }
          if (this.info[self.param.area_id] != null && +this.info[self.param.area_id] !== 0) {
            region_value.push(this.info[self.param.area_id] + '');
          }
          return region_value;
        }
      }
    },
    watch: {
      'regionValue': function () {
        if (!this.cascaderProps.checkStrictly) {
          // 给cascader设置一个key，改变类型时也改变key值，key值改变了，cascader弹框就会重新渲染
          // =>修复同个组件，info值改变，弹框高亮bug
          this.cascaderKey++;
        } else {
          if (this.$refs.cascaderHandle) {
            this.$refs.cascaderHandle.dropDownVisible = false;
            // 清空级联选择器选中状态
            this.$refs.cascaderHandle.$refs.panel.clearCheckedNodes();
            // 清除高亮
            this.$refs.cascaderHandle.$refs.panel.activePath = [];
          }
        }
      }
    },
    mounted: function () {
      this.initRegionData();
    },
    methods: {
      initRegionData: function () {
        var self = this;
        var regionList = JSON.parse(JSON.stringify(self.region.countryList));
        regionList.forEach(function (country) {
          self.$set(country, 'value', country.area_id);
          self.$set(country, 'label', country.area_name);
          self.$set(country, 'leaf', false);
          var provinceList = self.getRegionChild({level: 1, value: country.value});
          self.$set(country, 'children', provinceList);
          country.children.forEach(function (province) {
            var cityList = self.getRegionChild({level: 2, value: province.value});
            self.$set(province, 'children', cityList);
            province.children.forEach(function (city) {
              var areaList = self.getRegionChild({level: 3, value: city.value});
              self.$set(city, 'children', areaList);
            })
          })
        })
        self.regionList = regionList;
      },
      getRegionChild: function (node) {
        var self = this;
        var list = [];
        switch (+node.level) {
          case 0: // 国家
            self.region.countryList.forEach(function (country) {
              self.$set(country, 'value', country.area_id);
              self.$set(country, 'label', country.area_name);
              self.$set(country, 'leaf', false);
            })
            list = self.region.countryList;
            break
          case 1: //省
            var listNew = [];
            self.region.provinceList.forEach(function (province) {
              if (province.area_pid === node.value) {
                self.$set(province, 'value', province.area_id);
                self.$set(province, 'label', province.area_name);
                self.$set(province, 'leaf', false);
                listNew.push(province);
              }
            })
            list = listNew;
            break
          case 2: // 市
            var listNew = [];
            self.region.cityList.forEach(function (city) {
              if (city.area_pid === node.value) {
                self.$set(city, 'value', city.area_id);
                self.$set(city, 'label', city.area_name);
                self.$set(city, 'leaf', false);
                listNew.push(city);
              }
            })
            list = listNew;
            break
          case 3: // 区域县
            var listNew = [];
            self.region.areaList.forEach(function (area) {
              if (area.area_pid === node.value) {
                self.$set(area, 'value', area.area_id);
                self.$set(area, 'label', area.area_name);
                self.$set(area, 'leaf', true);
                listNew.push(area);
              }
            })
            list = listNew;
            break
          default:
            break
        }
        return list;
      },
      getRegionName: function (level, type, infoParam) {
        var self = this;
        var area_name = '';
        try {
          self.region[type + 'List'].find((list)=> {
            if (list.area_id === self.info[infoParam + '_id']) {
              area_name = list.area_name;
              throw Error;
            }
          })
        }catch (e) {}
        return area_name;
      },
    }
  }
</script>
