<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>

<body link="blue" vlink="purple">

</head>
<body>

<div id="print-content-html">
  <!--style>
    body {
      overflow-y: auto;
      padding: 0;
      margin: 0;
    }
    .drsElement {
      position: absolute;
      background-color: transparent;
    }
    .editor-order-table {
      width: 100%;
      background: #FFFFff;
      border: 1px solid #000!important;
      border-collapse: collapse;
    }
    .editor-order-table td {
      border: 1px solid #000!important;
      min-width: 24px;
    }
    .dragresize-direct .print-table__undefined table,
    .dragresize-direct .print-table__undefined td,
    .dragresize-direct .print-table__0 table,
    .dragresize-direct .print-table__0 td {
      border: none!important;
    }
    .print-table__2 table,
    .print-table__2 td {
      border: 2px solid #000!important;
    }
    .print-table__3 table,
    .print-table__3 td {
      border: 3px solid #000!important;
    }
    .print-table__4 table,
    .print-table__4 td {
      border: 4px solid #000!important;
    }
    .print-table__5 table,
    .print-table__5 td {
      border: 4px solid #000!important;
    }
    .drsElement.drs__order-table {
      z-index: 1!important;
    }

    .drsElement .dragresize-content {
      overflow: hidden;
      max-height: 100%;
    }
    .drsElement .dragresize-content .custom-img {
      width: 100%;
      height: 100%;
      vertical-align: middle;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    /*region 热敏打印*/
    .dragresize-direct .editor-order-table td {
      text-align: center;
    }
    #print-content-html .dragresize-box {
      position: relative;
      height: calc(100% - 76px);
      overflow-y: hidden;
    }
    .table-bottom .flex-between {
      line-height: 20px;
      font-size: 12px;
    }
    .flex-between {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: space-between;
    }
    .editor-order-table td {
        word-break: break-all;
    }
    .position-r {
      position: relative;
    }
    .table-box__num1,
    .table-box__num2 {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
    }
    .table-box__num2 table {
      width: calc(50% - 5px);
    }
  </style> -->
  <div class="dragresize-box" style="border: none; break-after: page; overflow-y: hidden;">
    <div class="position-r" style="height: 120px;"><!---->
      <div class="drsElement"
           style=" position: absolute;    background-color: transparent;top: 37px; height: 23px; left: 218px; width: 265px; z-index: 51; font-family: 宋体, SimSun; font-size: 24px; font-weight: bold; text-align: center; line-height: 100%; overflow: hidden;">
        <div>销售送货单<br></div>
      </div>
      <div class="drsElement"
           style=" position: absolute;   top: 75px; height: 16px; left: 406px; width: 152px; z-index: 159; font-family: 宋体, SimSun; font-size: 12px; text-align: left; line-height: 100%; overflow: hidden;">
        <div>13950188615</div>
      </div>
      <div class="drsElement"
           style=" position: absolute;   top: 66px; height: 30px; left: 560px; width: 162px; z-index: 114; font-family: 宋体, SimSun; font-size: 12px; text-align: left; line-height: 100%; overflow: hidden;">
        <div>白（一）存根 红（二）财务
          <div>蓝（三）客户 黄（四）仓库 <br></div>
        </div>
      </div>
      <div class="drsElement"
           style=" position: absolute;    background-color: transparent;top: 75px; height: 16px; left: 278px; width: 119px; z-index: 152; font-family: 宋体, SimSun; font-size: 12px; text-align: left; line-height: 100%; overflow: hidden;">
        <div>岳晓虹</div>
      </div>
      <div class="drsElement"
           style="top: 100px; height: 16px; left: 28px; width: 247px; z-index: 63; font-family: 宋体, SimSun; font-size: 12px; text-align: left; line-height: 100%; overflow: hidden;">
        <div>食材类别：水产家禽</div>
      </div><!----><!---->
      <div class="drsElement"
           style="top: 75px; height: 16px; left: 25px; width: 237px; z-index: 144; font-family: 宋体, SimSun; font-size: 12px; text-align: left; line-height: 100%; overflow: hidden;">
        <div>收货单位：湖里食堂</div>
      </div>
      <div class="drsElement"
           style="top: 47px; height: 16px; left: 557px; width: 162px; z-index: 38; font-family: 宋体, SimSun; font-size: 12px; text-align: center; line-height: 100%; overflow: hidden;">
        <div>JZH-2021112827</div>
      </div>
    </div>
    <div class="position-r">
      <div class="print-table__1"
           style="margin-left: 10px; width: 706px; font-family: 宋体, SimSun; font-size: 12px; text-align: center; line-height: 100%;">
        <div class="table-box__num1">
          <table id="editor-order-table0" class="editor-order-table print-table__1"
                 style="width: 100%; font-size: 12px;">
            <thead>
            <tr>
              <td width="39px">
                行号
              </td>
              <td width="159px">
                商品名称
              </td>
              <td width="69px">
                规格
              </td>
              <td width="39px">
                单位
              </td>
              <td width="49px">
                零售价
              </td>
              <td width="49px">
                发货数量
              </td>
              <td width="49px">
                实收数量
              </td>
              <td width="44px">
                单价
              </td>
              <td width="59px">
                金额
              </td>
              <td width="29px">
                备注
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                1
              </td>
              <td>
                冷冻黑虎虾21-30
              </td>
              <td>
                400g
              </td>
              <td>
                盒
              </td>
              <td>
                55.00
              </td>
              <td>
                10
              </td>
              <td></td>
              <td>
                55
              </td>
              <td>
                550.00
              </td>
              <td>

              </td>
            </tr> <!----> <!----><!----> <!---->
            <tr>
              <td>总合计</td>
              <td colspan="4"><!----> <!----> 伍佰伍拾元整</td>
              <td colspan="1">10 <!----> <!----></td>
              <td colspan="2"><!----> <!----> <!----></td>
              <td colspan="1"><!----> 550.00 <!----></td>
              <td colspan="1"><!----> <!----> <!----></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="table-bottom"><!----></div> <!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    </div>
    <div class="position-r" style="height: 49px;"><!----><!----><!----><!----><!----><!---->
      <div class="drsElement"
           style="top: 12px; height: 19px; left: 586px; width: 164px; z-index: 140; font-family: 宋体, SimSun; font-size: 12px; text-align: left; line-height: 100%; overflow: hidden;">
        <div>送货日期：2021-11-16</div>
      </div>
      <div class="drsElement"
           style="top: 12px; height: 37px; left: 19px; width: 549px; z-index: 134; font-family: 宋体, SimSun; font-size: 12px; text-align: left; line-height: 100%; overflow: hidden;">
        <div>验收人：&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 仓管员：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          业务员：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 制单：彭燕华<br>
        </div>
      </div><!----><!----></div>
  </div>
</div>


<!-- 下载方法1.超链接_导出文件-->
<a id="print-click">超链接_导出表格</a>
<!-- 下载方法2.引入文件保存js-->
<input type="button" οnclick="download()" value="函数_导出表格"></input>
<input type="button" οnclick="printout()" value="打印"></input>
<!-- 下载方法2.引入文件保存js-->
<script type="application/javascript" src="js/FileSaver.js"></script>
<script>
  // 使用outerHTML属性获取整个table元素的HTML代码（包括<table>标签），然后包装成一个完整的HTML文档，设置charset为urf-8以防止中文乱码
  var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementById("print-content-html").outerHTML + "</body></html>";
  // 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
  var blob = new Blob([html], {
    type: "application/vnd.ms-excel"
  });
  var a = document.getElementById("print-click");
  // 利用URL.createObjectURL()方法为a元素生成blob URL
  a.href = URL.createObjectURL(blob);
  // 设置文件名，目前只有Chrome和FireFox支持此属性
  a.download = "会签单.xls";

  function download() {
    debugger
    // 使用outerHTML属性获取整个table元素的HTML代码（包括<table>标签），然后包装成一个完整的HTML文档，设置charset为urf-8以防止中文乱码
    var html2 = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementById("print-content").outerHTML + "</body></html>";
    // 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
    var blob2 = new Blob([html2], {
      type: "application/vnd.ms-excel"
    });
    saveAs(blob2, "应系单.xls");
  };

  //打印具体实现代码
  function printout() {
    debugger;
    var newWindow;
    //打开一个新的窗口
    newWindow = window.open();
    // 是新窗口获得焦点
    newWindow.focus();
    //保存写入内容
    var newContent = "<html><head><meta charset='utf-8'/><title>打印</title></head><body>"
    newContent += document.getElementById("print-content").outerHTML;
    newContent += "</body></html>"
    // 将HTML代码写入新窗口中
    newWindow.document.write(newContent);
    newWindow.print();
    // close layout stream
    newWindow.document.close();
    //关闭打开的临时窗口
    newWindow.close();
    return false;
  };
</script>
</body>

</html>