<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>计算器-模拟电脑计算器-输入框显示数值-无光标</title>
  <style>
    * {
      box-sizing: border-box;
    }
    .calculator-container {
      width: 250px;
      background-color: #EEEEEE;
      border-radius: 5px;
    }
    .calculator-btn-list {
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 5px;
    }
    .calculator-btn-list a {
      cursor: pointer;
      width: 50px;
      height: 35px;
      border-radius: 5px;
      box-shadow: 0 0 7px 1px #999;
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      font-weight: bold;
      font-size: 16px;
    }
    .calculator-btn-list a:hover {
      background-color: rgba(0, 60, 255, 0.2);
    }
  </style>
</head>
<body>
<div id="app" v-cloak="">
<div class="calculator-container">
  <div>
    <div style="height: 40px">
      <template v-for="(item, i) in calculateStepList">{{ item }}</template>
    </div>
    <input type="text" readonly v-model="inputVal"/>
  </div>
  <div class="calculator-btn-list">
    <a v-for="(item, i) in calculatorBtnList" :title="item.title" @click="calculatorAct(item)">{{ item.label }}</a>
  </div>
</div>
</div>
</body>
<script type="text/javascript" src="__JQUERY__"></script>
<script type="text/javascript" src="__COMMON_JS__/plug-in/layer/2.3.0/layer.js?v={$V}"></script>
<script type="text/javascript" src="__VUE_NEWEST__"></script>
<script type="text/javascript" src="__PUBLIC_WAP__"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: function () {
      return {
        isResultVal: true, // 输入框值是否是结果值，true-是计算后的结果值[按下操作符后]，false-新输入的数值
        inputVal: '0', // 输入框显示的值
        resultVal: '',
        calculatorBtnList: [
          {value: 'percent', label: '%', title: '百分号', type: 'symbol'},
          {value: 'opposite', label: '±', title: '正负', type: 'symbol'},
          {value: 'backspace', label: '←', title: '删除', type: 'symbol'},
          {value: 'clear', label: 'AC', title: '清零', type: 'symbol'},
          {value: '7', label: '7', title: '7', type: 'number'},
          {value: '8', label: '8', title: '8', type: 'number'},
          {value: '9', label: '9', title: '9', type: 'number'},
          {value: 'divide', label: '÷', title: '除', type: 'symbol'},
          {value: '4', label: '4', title: '4', type: 'number'},
          {value: '5', label: '5', title: '5', type: 'number'},
          {value: '6', label: '6', title: '6', type: 'number'},
          {value: 'multiply', label: '×', title: '乘', type: 'symbol'},
          {value: '1', label: '1', title: '1', type: 'number'},
          {value: '2', label: '2', title: '2', type: 'number'},
          {value: '3', label: '3', title: '3', type: 'number'},
          {value: 'minus', label: '-', title: '减', type: 'symbol'},
          {value: '0', label: '0', title: '0', type: 'number'},
          {value: 'point', label: '.', title: '小数点', type: 'number'},
          {value: 'equal', label: '=', title: '等于', type: 'equal'},
          {value: 'plus', label: '+', title: '加', type: 'symbol'},
        ],
        calculateStepList: [], // 计算步骤列表
        calculateRecordList: [], // 计算记录：=后生成一条记录
      }
    },
    computed: {
    },
    mounted: function () {

    },
    methods: {
      // 按键操作
      calculatorAct: function (item) {
        var self = this;
        switch (item.value) {
          case '0':
          case '1':
          case '2':
          case '3':
          case '4':
          case '5':
          case '6':
          case '7':
          case '8':
          case '9':
            if (self.isResultVal) {
              self.inputVal = item.label;
            } else {
              if (+self.inputVal === 0) {
                self.inputVal = item.label;
              } else {
                self.inputVal += item.label;
              }
            }
            self.isResultVal = false;
            break
          case 'percent': // %
            if (self.isResultVal) {

            } else {

            }
            if(+self.inputVal >= 0) {
              self.inputVal = +self.inputVal / 100;
              self.calculateStepList.push(self.inputVal);
            }
            self.inputVal = self.resultVal;
            self.isResultVal = true;
            break
          case 'opposite': // ±
            if (self.isResultVal) {
              self.calculateStepList.splice(0, 0, '-');
              self.calculateStepList.push(self.inputVal);
              self.calculateStepList.splice(0, 0, '(');
              self.calculateStepList.splice(self.calculateStepList.length - 1, 0, '(');
              self.inputVal = self.resultVal;
            } else {
              self.inputVal = (parseFloat(self.inputVal) * -1).toString();
            }
            break
          case 'backspace': // ←
            if (!self.isResultVal && +self.inputVal !== 0) {
              self.inputVal = self.inputVal.length > 1 ? self.inputVal.slice(0, -1) : '0';
              if (self.inputVal === '-') self.inputVal = '0';
            }
            break
          case 'clear': // AC清除
            self.inputVal = '0';
            self.calculateStepList = [];
            break
          case 'plus': // +
          case 'minus': // -
            if (self.isResultVal) {
              self.calculateStepList.push(item.label);
            } else {
              self.calculateStepList.push(self.inputVal);
              self.calculateStepList.splice(self.calculateStepList.length, 0, item.label);
            }
            self.inputVal = self.resultVal;
            self.isResultVal = true;
            break
          case 'multiply': // ×
          case 'divide': // ÷
            if (self.isResultVal) {
              var newStepList = ['('];
              newStepList.push(self.inputVal);
              newStepList.push(')');
              newStepList.push(item.label);
              self.calculateStepList = newStepList;
            } else {
              self.calculateStepList.push(self.inputVal);
              self.calculateStepList.splice(self.calculateStepList.length, 0, item.label);
            }
            self.inputVal = self.resultVal;
            self.isResultVal = true;
            break
          case 'point': // 小数点
            if (self.isResultVal) {
              self.inputVal = '0.';
            } else {
              if (self.inputVal.includes('.')) {
                // 输入框值已有小数点
                return false;
              } else {
                self.inputVal += item.label;
              }
            }
            break
          case 'equal':
            self.calculateStepList.push(self.numVerify(self.inputVal));
            self.calculateRecordList.push(self.calculateStepList);
            self.inputVal = self.resultVal;
            self.calculateStepList = [];
            self.isResultVal = true;
            break
          default:
            break
        }
      },

      // 数值验证，转string
      numVerify: function (val) {
        return parseFloat(val).toString();
      },
      // 计算结果值
      getResultVal: function () {
        var list = [];
        this.calculateStepList.forEach(function (val) {
          if (val === '×') list.push('*');
          else if (val === '÷') list.push('/');
          else list.push(val);
        })
        if (['+', '-', '*', '/'].indexOf(list[list.length - 1]) > -1) {
          list.splice(list.length - 1, 1);
        }
        try {
          return list.length > 0 ? eval(list.join('')) : '';
        }catch (e) {
          return '';
        }
      },
    }
  })
</script>
</html>