<!--后台消息组件；右上角客服消息、订单消息、出入库单消息 子级iframe监听未读消息事件-->
<script>
  /**region 订单消息提醒*/
  var orderMsg = {
    showLayer: function () {
      parent.$("#order-msg-layer").slideDown();
    },
    hideLayer: function () {
      parent.$("#order-msg-layer").slideUp();
    }
  }
  // 未接订单预警，点页面别的地方收回
  document.addEventListener('mousedown', (e) => {
    orderMsg.hideLayer();
  })

  // 每10秒请求一次
  setInterval(function () {
    var now = new Date().getTime();
    var lastTime = localStorage.getItem('orderLastTime');
    lastTime = lastTime > 0 ? lastTime : 0;
    if (now - lastTime >= 9999) {
      localStorage.setItem('orderLastTime', now + '');
     /* $.ajax({
        url: '/ping.php',
        beforeSend: function () {},
      });
      $.ajax({
        url: "{:C('api_url')}" + '?act=Public&op=check_order',
        dataType: 'json',
        type: 'post',
        data: {
          session_id: '{$TOKEN}',
          store_id: "{$STORE['store_id']}"
        },
        beforeSend: function () {

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          console.log(textStatus);
          console.log(errorThrown);
          console.log("系统繁忙,请稍候再试...");
        },
        success: function (result) {
          //alert("数据：" + data + "\n状态：" + status);
          // 强制刷新
          if (result.code === 'CHECK_ORDER_TOKEN') {
            window.location.reload(true)
            return ;
          }
          var dataVal = result;
          var order = dataVal.new_order;
          var paid_order = dataVal.paid_order;
          if (order > 0) {
            parent.$(".order-msg-num").text(order);
            orderMsg.showLayer()
            parent.$("#unread-msg-audio-order").attr("src", "__ROOT__/Public/media/audio/new_order.mp3");
            parent.$('#order-msg-num-top').show();
          }
        },
        complete: function () {

        }
      });*/
    }
  }, 10000);
  /**endregion*/

  /**region 客户消息提醒*/
  // 未读消息
  setInterval(function () {
    var now = new Date().getTime();
    var lastTime = localStorage.getItem('unreadLastTime');
    lastTime = lastTime > 0 ? lastTime : 0;
    if (now - lastTime >= 9999) {
      localStorage.setItem('unreadLastTime', now + '');
      /*$.ajax({
        url: "{:C('api_url')}" + '?act=Public&op=checkUnReadMsg',
        dataType: 'json',
        type: 'post',
        data: {
          session_id: '{$TOKEN}',
          store_id: "{$STORE['store_id']}",
          member_name: "{$Think.session.member_name}",
        },
        beforeSend: function () {

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          console.log(textStatus);
          console.log(errorThrown);
          console.log("系统繁忙,请稍候再试...");
        },
        success: function (result) {
          //alert("数据：" + data + "\n状态：" + status);
          // 强制刷新
          if (result.code === 'CHECK_UNREAD_TOKEN') {
            window.location.reload(true)
            return ;
          }
          var dataVal = result;
          var unreadNum = dataVal.new_msg;
          if (unreadNum > 0) {
            parent.$(".customer-msg-num").text(unreadNum);
            parent.$("#unread-msg-audio-customer").attr("src", "__ROOT__/Public/admin/audio/new_message.mp3");
            parent.$("#customer-msg-num-top").show();
          }
        },
        complete: function () {

        }
      });*/
    }
  }, 10000);
  /**endregion*/
</script>