<!DOCTYPE html>
<html lang="en" class="html-font-20">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta name="format-detection" content="telephone=no"/>
  <link rel="stylesheet" href="__VANT_CSS__">
  <link rel="stylesheet" type="text/css" href="__COMMON_ICON__/styleicon/style.css?v={$V}">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/wap/css/common/public.css?v={$V}">
  <link rel="stylesheet" href="__PUBLIC__/wap/theme/theme_diy/style.css?v={$V}">
  <style>
    * {
      font-size: .6rem;
    }
  </style>
</head>
</html>
