<extend name="Public:base"/>
<block name="content">
  <div class="admin-main admin-main-form" id="app" v-cloak="">
    <div class="color-orange mb-10">
      主要样式：引用element-ui的el-slider<br>
    </div>
    <div>
      <div class="slider-gap">
        <el-slider
          v-model="value"
          :max="30"
          show-input
          :show-input-controls="false"></el-slider>
        <span>像素</span>
      </div>
    </div>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: function () {
        return {
          value: 3,
        }
      }
    })
  </script>
</block>