<!--组件》上传文件-->
<extend name="Public:base"/>
<block name="content">
  <div class="admin-main admin-main-form" id="app" v-cloak="">
    <div class="color-orange mb-10">
      文件上传功能，主要是图片上传
    </div>
    <ul>
      <li class="mt-10">
        <div>单图上传【只能上传一张】</div>
        <div>
          <upload-img-box
            :info="info"
            param="img1"
            img-tip="建议尺寸: 200 * 200, 比例: 1:1"></upload-img-box>
        </div>
        <div>【带有重置按钮】</div>
        <div>
          <upload-img-box
            :info="info"
            param="img2"
            :is-reset="true"
            img-tip="建议尺寸: 200 * 200, 比例: 1:1"></upload-img-box>
        </div>
        <div>【图片尺寸可自定义】</div>
        <div>
          <upload-img-box
            :info="info"
            param="img3"
            img-scale="2"
            img-tip="建议尺寸: 400 * 200, 比例: 2:1"></upload-img-box>
        </div>
        <div>
          <div>【公共上传图片区域】</div>
          <div class="upload-box">
            <template v-if="info.img4 !== ''">
              <img :src="info.img4">
            </template>
            <template v-else>
              <div class="btn-text">视频封面</div>
            </template>
            <upload-file v-model="info.img4" upload-type="1" accept="image/*"
                         :check-file="checkImg"></upload-file>
          </div>
        </div>
      </li>
      <li class="mt-10">
        <div>多图【可上传多张】</div>
        <div>【默认可拖拽排序】</div>
        <upload-multi-img-drag
          img-tip="建议尺寸: 200 * 200, 比例: 1:1"
          :img-list="info.imgList" max-img-len="5"></upload-multi-img-drag>
        【不可拖拽排序】【设置最多上传图片数量】
        <upload-multi-img-drag
          :is-drag="false"
          :img-list="info.imgList1" max-img-len="5"></upload-multi-img-drag>
        【可设置文字说明】
        <upload-multi-img-drag
          :is-img-text="true"
          :img-list="info.imgList2"></upload-multi-img-drag>
      </li>
    </ul>
  </div>
  <include file="Public/components/upload_box/upload_file"/>
  <include file="Public/components/upload_box/upload_img_box"/>
  <include file="Public/components/upload_box/upload_multi_img_drag" />
  <script>
    var vm = new Vue({
      el: '#app',
      components: {
        'upload-file': AppUtil.COMPONENTS.UPLOAD_FILE_COMPONENT,
        'upload-img-box': AppUtil.COMPONENTS.UPLOAD_IMG_BOX,
        'upload-multi-img-drag': AppUtil.COMPONENTS.UPLOAD_MULTI_IMG_DRAG
      },
      data: function () {
        return {
          info: {
            img1: '',
            img2: '',
            img3: '',
            imgList: [],
            imgList1: [],
            imgList2: [],
            img4: ''
          }
        }
      },
      methods: {
        checkImg: function (file) {
          var size = file.size;
          if (size > 3 * 1024 * 1024) {
            publicWap.layerMsg('图片大小不能超过3MB');
            return false;
          }
          return true;
        },
      }
    })
  </script>
</block>