<!--修改密码iframe弹框-->
<extend name="Public:base"/>
<block name="content">
  <div class="admin-main" style="padding: 0 30px;">
    <form action="" class="form-horizontal" method="post">
      <div class="form-row">
        <div class="row-cell">
          <p class="row-t">登录名</p>
          <input name="member_name" type="text" class="input-inner" readonly/>
        </div>
        <div class="row-cell">
          <p class="row-t">登陆密码</p>
          <input name="opwd" class="input-inner" type="password"/>
        </div>
        <div class="row-cell">
          <p class="row-t">新密码</p>
          <input name="npwd1" class="input-inner" type="password"/>
        </div>
        <div class="row-cell">
          <p class="row-t">新密码</p>
          <input name="npwd2" class="input-inner" type="password"/>
        </div>
      </div>

      <div class="dialog-footer-h"></div>
      <div class="dialog-footer foot-fixed">
        <a class="xxbtn-white" onclick="adminObj.layerFrameClose()">取消</a>
        <a class="xxbtn-primary" onclick="adminObj.layerFrameClose()">保存</a>
      </div>
    </form>
  </div>
</block>
