<!--
  @author   liangxiaoqiong
  @version  1.0
  @date 2021/7/8
  -->
<!-- template 打印模板编辑器表格、非热敏打印的通用表格-->
<script type="x-template" id="editor_table_default">
  <!--region 模版-->
  <table class="editor-order-table"
         :id="'editor-order-table'+tableIndex"
         :style="tableStyle">
    <!--region 表头-->
    <thead>
      <tr>
        <td v-for="table in item.checkedItem" :width="tableTdWidth(table)" v-if="+table.is_checked === 1">
          {{ table.diy_name !== '' ? table.diy_name : table.default_name }}
        </td>
      </tr>
    </thead>
    <!--endregion-->
    <tbody>
    <template v-for="(goods, gIndex) in tableListLen" v-if="isShowTr(gIndex)">
      <tr>
        <td v-for="table in item.checkedItem" v-if="+table.is_checked === 1">
          <!--备注不显示，用于打印后手写内容-->
          <template v-if="table.type === 'remark'"></template>
          <!--空白列1、空白列2、空白列3-->
          <template v-else-if="table.type === 'other_1' || table.type === 'other_2' || table.type === 'other_3'">
            <template v-if="+table.value_data.value_type === 1"><!--空白列项--></template>
            <template v-else-if="+table.value_data.value_type === 2">
              <!--固定列值-->
              {{ table.value_data.default_value }}
            </template>
            <template v-else>
              <!--关联其他基础数据值-->
              xxxx
            </template>
          </template>
          <template v-else>xxxx</template>
        </td>
      </tr>
    </template>

    <!--region 每页合计-->
    <default-table-total :checked-item="item.checkedItem" type="'edit'" :tpl="info" total-type="sub_total" v-if="isShowSubTotal"></default-table-total>
    <!--endregion-->
    <!--region 总合计-->
    <default-table-total :checked-item="item.checkedItem" type="'edit'" :tpl="info" total-type="total" v-if="isShowTotal"></default-table-total>
    <!--endregion-->
    </tbody>
  </table>
  <!--endregion-->
</script>

<!-- JS -->
<include file="PrintTpl/components/default_table_total" />
<script>
  AppUtil.COMPONENTS.EDITOR_TABLE_DEFAULT = {
    template: '#editor_table_default',
    components: {
      'default-table-total': AppUtil.COMPONENTS.DEFAULT_TABLE_TOTAL
    },
    props: {
      info: Object,
      item: Object,
      tableIndex: [String, Number], // 单排、双排表格，key，0||1
    },
    data: function () {
      return {}
    },
    computed: {
      // 是否显示小计
      isShowSubTotal: function () {
        var isShow = true;
        if (+this.info.tpl_config.is_show_subtotal === 0) {
          isShow = false;
        } else {
          if (+this.info.tpl_config.table_num === 2) {
            //（双排）
            isShow = +this.tableIndex === 1;
          }
        }
        return isShow;
      },
      // 显示的表格项个数
      tableCheckedItemLen: function () {
        var len = 0
        this.item.checkedItem.forEach(function (value) {
          if (+value.is_checked === 1) {
            len++
          }
        })
        return len
      },
      // 表格数据行数（不包含总计、小计）
      tableListLen: function () {
        var len = 3;
        if (+this.info.tpl_config.table_num === 2) {
          var total_len = 0;
          if (this.isShowSubTotal) total_len = total_len + 2;
          if (this.isShowTotal) total_len++;
          len = 8 - total_len;
        }
        return len;
      },
      // 双排表格样式
      tableStyle: function () {
        if (+this.info.tpl_config.table_num === 2) {
          var gap = +this.info.tpl_config.table_gap / 2;
          var width = 'calc(50% - '+gap+'px)';
          return {width: width};
        }
      },
      // 是否显示合计行
      isShowTotal: function () {
        var self = this;
        var isShow = true;
        if (+this.info.tpl_config.is_show_total === 0) {
          isShow = false;
        } else {
          if (+self.info.tpl_config.table_num === 2) {
            //（双排）
            isShow = +self.tableIndex === 1;
          }
        }
        return isShow;
      }
    },
    mounted: function () {
    },
    methods: {
      //表格td宽度，热敏打印，均分
      tableTdWidth: function (table) {
        return diyPrintTpl.tableTdWidth(this.info, this.item, table);
      },
      // 是否显示表格行
      isShowTr: function (index) {
        var self = this;
        if (+self.info.tpl_config.table_num === 2) {
          //（双排）
          var tableListLenAvg = (self.tableListLen-1) / 2;
          if (+self.tableIndex === 0) {
            return index <= tableListLenAvg;
          } else {
            return index > tableListLenAvg;
          }
        } else {
          return true;
        }
      },
    }
  }
</script>